.home-container {
  @apply
  flex
}

.content-text {
  padding-top: 64px;
  border-right: 1px solid #2b2341 ;
  @apply

  px-7
  flex
  flex-col
  items-center
  justify-center
  w-6/12
  h-screen
  text-white
  bg-primary-dark
  text-5xl
}

.content-text h2 {
  line-height: 4rem;
}

.content-text h2:hover span {
  background: linear-gradient(45deg, var(--color-lavender), var(--color-cyan));
  color: transparent;
  background-clip: text;
  display: inline-block;
}

.content-text h2 span{

  @apply
  duration-700
  text-cyan

}
.content-img{
  padding-top: 64px;
  @apply
  h-screen
  w-6/12
  bg-second-dark
}


@media (max-width:800px) {
  .content-tex {
    padding-top: 78px;
  }

  .content-img {
    padding-top: 78px;
  }
  
}