.content-text {
  padding-top: 64px;
  border-right: 1px solid #2b2341 ;
  @apply

  px-7
  flex
  flex-col
  items-center
  justify-center
  w-6/12
  h-screen
  text-white
  bg-primary-dark
  text-5xl
}

.content-text h2 {
  animation: 1s to-bottom forwards;
  line-height: 4rem;
  @apply
  [&>*]:hover:!text-cyan
}

.content-text h2 span{
  display: block;
  margin-right: 7px;
  background: linear-gradient(45deg, var(--color-lavender), var(--color-cyan));
  color: transparent;
  background-clip: text;
  display: inline-block;

  @apply
  duration-700

}
.content-text h2:hover span {

}

.content-img{
  padding-top: 64px;
  @apply
  h-screen
  w-6/12
  bg-second-dark
}

.content-img div {
  margin: 0 auto;
  @apply
  !w-10/12

}

@media (max-width:1350px) {

  .content-text {
    font-size: 2rem;
  }
  
}


@media (max-width:850px) {

  .content-text {
    font-size: 1.7rem;
  }
  
}

@media (max-width:850px) {

  .content-img div {
    height: 90%;
  }
  
}



@media (max-width:800px) {
  .content-tex {
    padding-top: 78px;
  }

  .content-img {
    padding-top: 78px;
  }
  
}


@keyframes to-bottom  {

  from {
    opacity: 0;
    transform: translate3d(0px, -70px,0px);
  }

  to {
    opacity: initial;
    transform: initial;
  }
  
}